*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Couture';
    src: url('MP/couture/subset-Couture-Bold.eot');
    src: url('MP/couture/subset-Couture-Bold.eot') format('embedded-opentype'),
        url('MP/couture/subset-Couture-Bold.woff2') format('woff2'),
        url('MP/couture/subset-Couture-Bold.woff') format('woff'),
        url('MP/couture/subset-Couture-Bold.ttf') format('truetype'),
        url('MP/couture/subset-Couture-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('MP/montserrat/subset-Montserrat-Regular.eot');
    src: url('MP/montserrat/subset-Montserrat-Regular.eot') format('embedded-opentype'),
        url('MP/montserrat/subset-Montserrat-Regular.woff2') format('woff2'),
        url('MP/montserrat/subset-Montserrat-Regular.woff') format('woff'),
        url('MP/montserrat/subset-Montserrat-Regular.ttf') format('truetype'),
        url('MP/montserrat/subset-Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSerif';
    src: url('MP/ptserif/subset-PTSerif-BoldItalic.eot');
    src: url('MP/ptserif/subset-PTSerif-BoldItalic.eot') format('embedded-opentype'),
        url('MP/ptserif/subset-PTSerif-BoldItalic.woff2') format('woff2'),
        url('MP/ptserif/subset-PTSerif-BoldItalic.woff') format('woff'),
        url('MP/ptserif/subset-PTSerif-BoldItalic.ttf') format('truetype'),
        url('MP/ptserif/subset-PTSerif-BoldItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.header {
    background-image: url(images/Group_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 688px; */
}
.container-img {
    background-image: url(images/Layer_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 688px; */
}
.container-size {
    max-width: 1011px;
    margin: 0px auto;
}
.container-logo {
    display: flex;
    justify-content: space-between;
}
.header-picture {
    padding-top: 38px;
}
.nav {
    padding-top: 60px;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.link {
    text-decoration: none;
    color: #1b1b1b;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.item:not(:last-child) {
    margin-right: 30px;
} 
.link:hover {
    color: #ffffff;
    background-color: #d03958;  
}
.container-header {
    margin-top: 163px;
    width: 493px;
    margin-bottom: 156px;
}
.header-title {
    color: #d03958;
    font-family: "Montserrat";
    font-size: 90px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1.8px;
}
.span {
    color: #161616;
    font-family: "Montserrat";
    font-size: 90px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1.8px;
}
.header-text {
    margin-top: 47px;
    width: 466px;
    color: #161616;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.container-position {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.container-input {
    width: 400px;
    height: 520px;
    background-color: #d03958;
    border-radius: 5px;
    position: absolute;
    margin-top: 167px;
    margin-left: 593px;
}
.form-text {
    text-align: center;
    /* width: 208px; */
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    margin-top: 33px;
}
.input {
    width: 353px;
    height: 57px;
    background-color: #ffffff;
    color: #b5b5b5;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.4px;
    margin-top: 17px;
    margin-left: 24px;
    padding-left: 19px;
}
.input:not(:first-child) {
    margin-top: 17px;
}
.checkbox {
    margin-top: 27px;
    margin-bottom: 20px;
    margin-left: 27px;
}
.label {
    width: 267px;
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.4px;
}
.button {
    width: 353px;
    height: 57px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    margin-left: 24px;
    background-color: #000000;
}
button:hover {
    background-color: rgb(105, 218, 226);
}
.main-title {
    width: 365px;
    color: #d03958;
    font-family: "Couture";
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-top: 39px;
}
.main-span {
    letter-spacing: -1px;
    color: #161616;
}
.container-card {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 68px;
}
.card {
    width: 168px;
}
.card-text {
    width: 168px;
    color: #161616;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-top: 46px;
}
.container-bg {
    background-color: #d03958;
}
.container-story {
    max-width: 1011px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.text-story {
    width: 601px;
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
    padding-top: 34px;
    padding-bottom: 42px;
}
.button-story {
    width: 269px;
    height: 64px;
    background-color: #e3d5b8;
    margin-top: 31px;
    color: #161616;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
}
.button-story:hover {
    background-color: rgb(110, 222, 236);
}
.container-bcg {
    background-color: #e3d5b8;
}
.title-card-prise {
    margin: 0px auto;
    padding-top: 65px;
    padding-bottom: 57px;
    width: 205px;
    color: #1f1f1f;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.container-card-price {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.triangle-topleft {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 100px solid #b4a993; 
	border-right: 100px solid transparent;			
}
.pop {
    position: absolute;
    transform: rotate(-45deg);
    margin-top: -69px;
    margin-left: 8px;
}
.card-price {
    width: 318px;
    height: 389px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
}
.card-price-text {
    color: #161616;
    font-family: "PT Serif";
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.44px;
    margin-top: 33px;
}
.text-money {
    color: #d03958;
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 27px;
}
.item {
    color: #161616;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.card-price-button {
    width: 205px;
    height: 49px;
    background-color: #e3d5b8;
    color: #161616;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    margin-top: 34px;
}
.card-price-button:hover {
    background-color: #d03958;
    color: #ffffff;
}
.container-down {
    display: flex;
    justify-content: space-between;
    margin-top: 154px;
}
.container-test {
    width: 486px;
}
.title-test {
    width: 341px;
    color: #1f1f1f;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 60px;
}
.container-first {
    display: flex;
    justify-content: space-between;
}
.text-test {
    width: 336px;
    color: #161616;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-bottom: 23px;
}
.link-test {
    width: 287px;
    color: #d03958;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}
.man {
    width: 105px;
    height: 105px;
}
.container-second {
    position: relative;
}
.women {
    position: absolute;
    margin-left: 381px;
    margin-top: -122px;
}
.container-text {
    margin-top: 62px;
    width: 439px;
    height: 142px;
    background-color: #e3d5b8;
}
.container-gallery {
    width: 388px;   
}
.title-gallery {
    width: 223px;
    color: #d03958;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-left: 55px;
    margin-bottom: 38px;
}
.container-foto {
    margin-bottom: 46px;
    width: 388px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.container-foto img {
    margin-top: 28px;
}
.link-gallery {
    width: 225px;
    color: #d03958;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}
.footer {
    background-color: #161616;
}
.container-footer {
    max-width: 1011px;
    margin: 0px auto;
    margin-top: 119px;
    display: flex;
    justify-content: space-between;
}
.text-footer {
    width: 540px;
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    margin-top: 80px;
    margin-bottom: 85px;
}
.span-footer {
    color: #d03958;
    letter-spacing: -0.4px;
}
.img-footer {
    width: 98px;
    height: 46px;
    margin-top: 73px;
}